* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
    color: #222;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 40px;
}
.section-b1 {
    margin: 40px 0;
    border-radius: 4px;
}
button.normal {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #e264b2;
    color: #fff;
    font-size: 14px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.01);
}

button.normal:hover {
    box-shadow: 10px 10px 54px rgba(23, 217, 243, 0.8);
    background-color: #088178;
}
button.white{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #ab45ee;
    color: #fff;
    font-size: 14px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.01);
    margin-top: 10px;
}

dody {
    width: 100%;
}


/* code index.html here */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 15px 15px rgba(0,0,0 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header a img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content:center;
    
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:600;
    color: #1a1a1a;
    transition: 0.1s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 3px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}
#close {
    display: none;
}


#hero {
    background-image: url("img/hero.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#hero h4 {
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero p{
    font-weight: bold;
}
#hero button {
    border: none;
    width: 100px;
    height: 50px;
    background-color: rgb(5, 173, 61);
    text-align: center;
    margin-left: 80px;
    font-weight: 900;
    border-radius: 4px;
}
#hero button:hover {
    color: #fff;
}
#feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;

}
#feature .fe-box {
    width: 180px;
    text-align: center;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);

}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(83, 73, 73, 0.2);
}
#feature .fe-box img {
    width: 100%;
    border-radius: 4px;
}
#feature .fe-box h6{
    padding: 10px 20px;
    background-color: #fddde4;
    border-radius: 4px;
    font-size: 15px;
    
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #2af355;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #7bf3e9;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #b66ea0;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #a3dbaf;
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #bad618;
}

#product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product1 h2 {
    color: #088178;
}
#product1 p {
    font-weight: bold;
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}


#product1 .pro-container .pro {
    width: 23%;
    min-width: 250px;
    text-align: center;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0px;
    padding: 25px 25px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
}
#product1 .pro-container .pro:hover {
    box-shadow: 10px 10px 54px rgba(83, 73, 73, 0.2);
}
#product1 .pro-container .pro img {
    width:100%;
    height:300px;
    border-radius: 20px;
}
#product1 .pro-container .pro .des {
    text-align: start;
    padding: 10px 0;
    position: relative;
    
}
#product1 .pro-container .pro .des span {
    color:#606063;
    font-size:16px;
    font-weight: bold;
}
#product1 .pro-container .pro .des h4{
    color: #088178;
}
#product1 .pro-container .pro .des .start {
    color: greenyellow;
}
#product1 .pro-container .pro .des h5 {
    color: red;
    margin-top: 10px;
    font-size: 20px;
}
#product1 .pro-container .pro .des a {
    position: absolute;
    top:80px;
    right: 0;

}
#product1 .pro-container .pro .des a .cart {
    font-size: 25px;
    color:blue;
}
#banner {
    background-image: url("img/banners/b1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#banner  h4{
    color:#fff;
}
#banner  h2{
    color:#fff;
    padding: 15px 0;
}
#banner  h2 span{
    color: red;
}

#sm-banner {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
#sm-banner .banner-box {
    background-image:url(img/discount/d1.jpg);
    background-size: cover;
    min-width: 500px;
    height: 60vh;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    margin-top: 20px;
    
}
#sm-banner .banner-box2 {
    background-image:url(img/discount/d3.jpg);
    background-position: center;
}

#sm-banner .banner-box h4 {
    color: blue;
}
#sm-banner .banner-box h2{
    color: #47bceb;
    padding: 5px 0;
}
#sm-banner .banner-box span{
    color: rgb(9, 151, 194);
    font-weight: bold;
}
#sm-banner .banner-box:hover button {
    background-color:#088178;
    box-shadow: 10px 10px 54px rgba(35, 74, 248, 0.4);
}
#banner3 {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
    background-image: url(img/banner3/summerb3.jpg);
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    margin-bottom: 20px;
    padding-left: 20px;
}
#banner3 .banner-box2 {
    background-image: url(img/banner3/autumb3.jpg);
}
#banner3 .banner-box3 {
    background-image: url(img/banner3/springb3.jpg);
}
#banner3 h2 {
    color: #0974ee;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3 {
    color: rgb(26, 194, 10);
    font-weight: 800;
    font-size: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #041e42;
}
#newsletter h4 {
    font-size:22px;
    font-weight:700;
    color: #fff;
}
#newsletter p {
    font-size:14px;
    font-weight:600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size:14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

#footer h1 {
    margin-bottom: 20px;

}
#footer h4 {
    font-size: 15px;
    padding-bottom: 20px;
}
#footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}
#footer a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
#footer .follow i {
    font-size: 20px;
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}
#footer .install .row img{
    width: 150px;
    height: 60px;
    border: 1px solid #088178;
    border-radius: 4px;
    margin: 20px  0 20px 0;
}
#footer .install img{
    width: 310px;
    height: 60px;
    margin: 10px 0 0 0;
    
}
#footer .follow i:hover {
    color: blue;

} 
#footer .install .row img:hover {
    border: 1px solid red;
}
#footer .copyright {
    width: 100%;
    text-align: center;
    font-weight: 700;
    
}












/* adjust suitable with all sreens */

@media(max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color:#E3E6F3;
        box-shadow: 0 10px 30px rgba(0,0,0,0.01);
        padding: 80px 0 0 10px;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 30px;
    }
    #mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mobile li {
        list-style: none;
        font-size: 30px;
        padding-left: 25px;
    }
    #mobile li i {
        color: #222;
    }
    #lg-bag {
        display: none;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }
    

}